<h1 class="align-middle">
  {{title}}
</h1>
<div class="container-fluid">
  <div class="container-fluid full-large-hover">
    <div class="container js-marquee">
      <div class="row">
        <div class="col-4 offset-4">
          <div class="cabintractor">
            <div class="fenetre">
              <img src="assets/poutin.png">
            </div>
          </div>
          <div class=" capot "></div>
          <i class="fa fa-cog fa-spin fa-5x "></i>
          <i class="fa fa-cog fa-spin fa-5x "></i>
        </div>
      </div>
      <div class="bras "></div>
      <div class="bras2 "></div>
      <div class="pelle "></div>
    </div>
  </div>
</div>
<p>
  <i class="fa fa-exclamation-triangle fa-lg "></i>Site under construction
  <i class="fa fa-exclamation-triangle fa-lg "></i>
</p>
<audio autoplay="true" src="assets/nyancat.mp3"></audio>
