<div class="container-fluid fixed-bottom">
  <div class="row">
    <div class="footer col-12">

      <div class="row">
        <div class="rating col-3">
          <div class="nlj">
            <a>: Noter le jeu </a>
          </div>
          <a class="stars" href="#5" title="Give 5 stars">★</a>
          <a class="stars" href="#4" title="Give 4 stars">★</a>
          <a class="stars" href="#3" title="Give 3 stars">★</a>
          <a class="stars" href="#2" title="Give 2 stars">★</a>
          <a class="stars" href="#1" title="Give 1 star">★</a>
        </div>

        <div class="col-9">
          <p class="copyright text-right">&copy; 2018 Wild Code School -Gomoku By Dublé Océane, Lanchon Ludovic, Cabaret Guillaume</p>
        </div>
      </div>
    </div>
  </div>
</div>
