.nlj{
    color: #aaa;
    text-decoration: none;
    font-size: 0.5em;
    text-align: left;
    padding-left: 5%;
}
.rating {
    float: left;
    direction: rtl;
 }
 .rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
 }
 .rating a:hover,
 .rating a:focus,
 .rating a:hover ~ a,
 .rating a:focus ~ a {
    color: orange;
    cursor: pointer;
 }

 .logo{
    padding-top: 3%;
    color: #aaa;
    text-decoration: none;
    font-size: 1.3em;
 }