<div class="container-fluid">
  <div class="row">
  <div class="footer col-12">
     
    <div class="rating col-5">
        <div class="nlj">
            <a>: Noter le jeu </a>
        </div>
      <a href="#5" title="Give 5 stars">★</a>
      <a href="#4" title="Give 4 stars">★</a>
      <a href="#3" title="Give 3 stars">★</a>
      <a href="#2" title="Give 2 stars">★</a>
      <a href="#1" title="Give 1 star">★</a> 
    </div>
    
    <div class="copyright offset-6 col-7">
        <p class="logo">&copy; 2018 Wild Code School  -Gomoku By Dublé Océane, Lanchon Ludovic, Cabaret Guillaume</p>
    </div> 
  </div>
</div>
</div>
