<div class="container-fluid">
  <div class="row">
    <div class="id col 5">
        <div class="form-style-6">
            <h1>Name</h1>
            <p>Zarmosys</p>
        </div>
    </div>

    <div class="progressbar offset-5 col-2">  
            Progress Bar
  </div>
</div>
  <div class="row">
    <div class="gameRecap col 5">
        <div class="gameRecap">
          gameRecap
        </div>
    </div>

    <div class="Avatar offset-5 col-2">
      <img src="http://placeholder.pics/svg/300">
    </div>
  </div>
</div>