

<head>
  <meta charset="utf-8">
  <title>Gomoku</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P"
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="game.component.css">
</head>

<body>

  <header>

    <div class="container-fluid">

      <div class="row">

        <div class="col-11 mx-auto">
          <h1 class="title">GOMOKU</h1>
        </div>

        <div class="col-1">
          <i class="fas fa-user-circle fa-2x icon"></i>
        </div>

      </div>

    </div>

  </header>

  <div class="container">

    <h2 class="textGame">Welcome User</h2>

    <div class="row">

      <div class="col-md-6 mx-auto">
        <div style="width:500px;height:500px;border:3px solid #000000;"></div>
      </div>

      <div class="col-md-6 mx-auto">
        <div style="width:400px;height:500px;border:3px solid #999999;" class="square"></div>
      </div>

    </div>

  </div>


</body>


