<div class="container-fluid padding-0">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand moyko" href="#">Gomoku</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation" routerLink="/landing-page">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="#">Rules</a>
        <a class="nav-item nav-link" href="#">Profile</a>
        <a class="nav-item nav-link" href="#">Logout</a>
      </div>
    </div>
  </nav>
  <div class="row margin-0 margin-top-50">
    <div class="col-md-7">
      <div class="board"></div>
    </div>
    <div class="col-md-5">
      <div class="profil">
        <div class="padding-user-img">
          <img class="vertical-align" src="assets/img/poutin.png" alt="img-profil-user">
        </div>
        <p class="text-center">WELCOME
          <br>GRONAZ</p>
      </div>
      <div class="chatbox"></div>
    </div>
  </div>
</div>
<app-footer></app-footer>
