@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Baloo');
@font-face {
  font-family: "Moyko.ttf";
  src: url(assets/fonts/Moyko.ttf);
}

@media screen and (width:768px) {
  .navbar {
    width: 100%;
    height: 70px;
    background-image: url(assets/img/tweed.png);
  }
  .navbar a {
    color: white;
    cursor: pointer;
  }
  .moyko {
    font-size: 3em;
    font-weight: 700;
    font-family: "Moyko.ttf", sans-serif;
    text-shadow: -2px 3px 8px rgba(0, 0, 0, 0.79);
    color: white;
  }
  .oxygen {
    font-family: 'Oxygen', sans-serif;
  }
  .baloo {
    font-family: 'Baloo', cursive, sans-serif;
  }
  button {
    margin-top: 60px;
  }
  .textGame {
    text-decoration: underline;
    padding-left: 13%;
    padding-bottom: 2%;
  }
  .border {
    border: 3px solid black
  }
  .board {
    width: 400px;
    height: 400px;
    border: 3px solid #000000;
  }
  table,
  tbody {
    width: 100%;
    height: 100%;
  }
  tr {
    width: 500px;
    height: 20.888888888888px;
  }
  td {
    width: 20.888888888888px;
    border: 1px solid #ada7a7;
  }
  .chatbox {
    width: 100%;
    height: 300px;
    border: 3px solid #999999;
    margin: 0 !important;
  }
  .padding-0 {
    padding: 0;
  }
  .margin-0 {
    margin: 0;
  }
  .margin-top {
    margin-top: 40px;
  }
  .profil {
    height: 100px;
    border: 3px solid #999999;
    border-bottom: none;
    overflow: hidden;
  }
  .profil img {
    height: 80px;
  }
  .padding-user-img {
    padding: 10px;
    overflow: hidden;
    float: left;
  }
  .profil p {
    font-weight: bold;
    font-size: 2em;
    height: 100px;
    line-height: 50px;
    font-family: 'Baloo', cursive, sans-serif;
    text-shadow: -2px 3px 8px rgba(150, 150, 150, 0.79);
  }
}

@media screen and (width:1024px) {
  .navbar {
    width: 100%;
    height: 70px;
    background-image: url(assets/img/tweed.png);
  }
  .navbar a {
    color: white;
    cursor: pointer;
  }
  .moyko {
    font-size: 3em;
    font-weight: 700;
    font-family: "Moyko.ttf", sans-serif;
    text-shadow: -2px 3px 8px rgba(0, 0, 0, 0.79);
    color: white;
  }
  .oxygen {
    font-family: 'Oxygen', sans-serif;
  }
  .baloo {
    font-family: 'Baloo', cursive, sans-serif;
  }
  button {
    margin-top: 60px;
  }
  .textGame {
    text-decoration: underline;
    padding-left: 13%;
    padding-bottom: 2%;
  }
  .border {
    border: 3px solid black
  }
  .board {
    width: 500px;
    height: 500px;
    border: 3px solid #000000;
    border-radius: 10px;
    background-image: url(assets/img/bg-board.jpg);
    overflow: hidden;
  }
  table,
  tbody {
    width: 100%;
    height: 100%;
  }
  tr {
    width: 500px;
    height: 26.444444444444px;
  }
  td {
    width: 26.444444444444px;
    border: 1px solid #ada7a7;
  }
  .chatbox {
    width: 100%;
    height: 350px;
    border: 3px solid #999999;
    margin: 0 !important;
    background: white;
  }
  .addon {
    width: 155px;
    height: 500px;
    margin-left: -15px;
    border: 3px solid #000000;
    border-radius: 10px;
    background: white;
  }
  .padding-0 {
    padding: 0;
  }
  .margin-0 {
    margin: 0;
  }
  .margin-top {
    margin-top: 2px;
  }
  .profil {
    height: 150px;
    border: 3px solid #999999;
    border-bottom: none;
    overflow: hidden;
    background: white;
  }
  .profil img {
    height: 100px;
  }
  .padding-user-img {
    padding: 25px;
    overflow: hidden;
    float: left;
  }
  .profil p {
    font-weight: bold;
    font-size: 2.5em;
    height: 150px;
    line-height: 75px;
    font-family: 'Baloo', cursive, sans-serif;
    text-shadow: -2px 3px 8px rgba(150, 150, 150, 0.79);
  }
}

@media screen and (min-width:1200px) {
  .navbar {
    width: 100%;
    height: 70px;
    background-image: url(assets/img/tweed.png);
  }
  .navbar a {
    color: white;
    cursor: pointer;
  }
  .moyko {
    font-size: 3em;
    font-weight: 700;
    font-family: "Moyko.ttf", sans-serif;
    text-shadow: -2px 3px 8px rgba(0, 0, 0, 0.79);
    color: white;
  }
  .oxygen {
    font-family: 'Oxygen', sans-serif;
  }
  .baloo {
    font-family: 'Baloo', cursive, sans-serif;
  }
  button {
    margin-top: 60px;
  }
  .col-lg-6 {
    height: 82vh;
  }
  .border {
    border: 3px solid black
  }
  .board {
    width: 600px;
    height: 600px;
    border: 3px solid #000000;
    border-radius: 10px;
    background-image: url(assets/img/bg-board.jpg);
    overflow: hidden;
    margin-top: 3vh;
  }
  table,
  tbody {
    width: 100%;
    height: 100%;
  }
  td {
    border: 1px solid #ada7a7;
  }
  .profil {
    height: 150px;
    border: 3px solid #999999;
    border-bottom: none;
    overflow: hidden;
    background: white;
    margin-top: 3vh;
  }
  .profil img {
    height: 100px;
  }
  .padding-user-img {
    padding: 25px;
    overflow: hidden;
    float: left;
  }
  .profil p {
    font-weight: bold;
    font-size: 2.5em;
    height: 150px;
    line-height: 75px;
    font-family: 'Baloo', cursive, sans-serif;
    text-shadow: -2px 3px 8px rgba(150, 150, 150, 0.79);
  }
  .chatbox {
    width: 100%;
    height: 350px;
    border: 3px solid #999999;
    margin: 0 !important;
    background: white;
  }
  .addon {
    width: 100%;
    height: 600px;
    border: 3px solid #000000;
    border-radius: 10px;
    background: white;
    margin-top: 3vh;
  }
  .padding-0 {
    padding: 0;
  }
  .margin-0 {
    margin: 0;
  }
  .margin-top {
    margin-top: 2px;
  }
}
