<div class="container-fluid padding-0">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand moyko" href="#">Gomoku</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation" routerLink="/landing-page">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" data-toggle="modal" data-target="#exampleModalCenter">Rules</a>
        <a class="nav-item nav-link" href="#">Profile</a>
        <a class="nav-item nav-link" href="#">Logout</a>
      </div>
    </div>
  </nav>
  <div class="row margin-0 margin-top">
    <div class="col-md-7 col-lg-6">
      <div class="board"></div>
    </div>
    <div class="col-md-5 col-lg-4">
      <div class="profil">
        <div class="padding-user-img">
          <img class="vertical-align" src="assets/img/poutin.png" alt="img-profil-user">
        </div>
        <p class="text-center">WELCOME
          <br>GRONAZ</p>
      </div>
      <div class="chatbox"></div>
    </div>
    <div class="col-lg-2">
      <div class="addon">
      </div>
    </div>
  </div>
</div>
<!-- -----------------------Modal---------------------------------------------- -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Rules of the game !</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        It is a board game for two players who take turns in putting black and white stones on the board. Each players' goal is to
        create an unbroken row of five stones horizontally, vertically, or diagonally.
        <br>
        <br> Only exactly five stones in a row win, rows of six or more, called overlines, do not count and the game continues.
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
