<div class="container-fluid">
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <app-header></app-header>
    </div>
    <div class="col-6 offset-3 text-center h-50vh">
      <div class="input-group input-group-lg margin-top-10vh">
        <div class="rounded">
          <span class="input-group-text" id="inputGroup-sizing-lg">
            <img class="guest-icon" src="assets/img/guest.png" alt="guest-icon">
          </span>
        </div>
        <input type="text" id="guest-input" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Put your name here">
      </div>
      <div class="toggle toggle-mail">
        <input type="checkbox" (click)="loginGoogle()">
        <span class="button button-mail"></span>
        <span class="label label-mail">Login</span>
      </div>
      <div class="oxygen row margin-top-6vh">
        <div class="lined col-4 offset-1"></div>
        <div class="col-2">OR</div>
        <div class="lined col-4"></div>
      </div>
      <div class="row margin-top-6vh">
        <div class="col-6 offset-3">
          <div class="row">
            <div class="col-12">
              <div class="toggle">
                <input type="checkbox" (click)="loginGoogle()">
                <span class="button"></span>
                <span class="label">Sign in with Google</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="stone-container">
  <!--Black stones ------------------------------------------- -->
  <div class="landing-stone black-stone-1">
    <img src="assets/img/black_pion.png" alt="black-stone-img">
  </div>
  <div class="landing-stone black-stone-2">
    <img src="assets/img/black_pion.png" alt="black-stone-img">
  </div>
  <div class="landing-stone black-stone-3">
    <img src="assets/img/black_pion.png" alt="black-stone-img">
  </div>
  <div class="landing-stone black-stone-4">
    <img src="assets/img/black_pion.png" alt="black-stone-img">
  </div>
  <div class="landing-stone black-stone-5">
    <img src="assets/img/black_pion.png" alt="black-stone-img">
  </div>

  <!--White stones ------------------------------------------- -->
  <div class="landing-stone white-stone-1">
    <img src="assets/img/white_pion.png" alt="black-stone-img">
  </div>
  <div class="landing-stone white-stone-2">
    <img src="assets/img/white_pion.png" alt="black-stone-img">
  </div>
  <div class="landing-stone white-stone-3">
    <img src="assets/img/white_pion.png" alt="black-stone-img">
  </div>
  <div class="landing-stone white-stone-4">
    <img src="assets/img/white_pion.png" alt="black-stone-img">
  </div>
</div>
