<div class="container-fluid">
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <app-header></app-header>
    </div>
    <div class="col-6 offset-3 text-center">
      <div class="input-group input-group-lg">
        <div class="rounded">
          <span class="input-group-text" id="inputGroup-sizing-lg">
            <img src="assets/img/guest.png" alt="guest-icon">
          </span>
        </div>
        <input type="text" id="guest-input" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Put your name here">
      </div>
      <button type="button" id="btn-login" class="btn btn-success btn-lg btn-block">Login</button>
      <div class="row margin-top-50">
        <div class="col-6 offset-3">
          <div class="row">
            <div class="col-4">
              <button (click)="signInWithFacebook()" type="button" class="button account-auth mr-auto" id="facebook-auth">
                <img src=" assets/img/facebook.png " alt="facebook-icon ">
              </button>
            </div>
            <div class="col-4 ">
              <button type="button" class="button account-auth mx-auto " id="twitter-auth">
                <img src="assets/img/twitter.png " alt="twitter-icon">
              </button>
            </div>
            <div class="col-4 ">
              <button (click)="loginGoogle()" type="button" class="button account-auth ml-auto google" id="google-auth">
                <img src="assets/img/google.svg " alt="google-icon">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Black stones ------------------------------------------- -->
<div class="landing-stone black-stone-1">
  <img src="assets/img/black_pion.png" alt="black-stone-img">
</div>
<div class="landing-stone black-stone-2">
  <img src="assets/img/black_pion.png" alt="black-stone-img">
</div>
<div class="landing-stone black-stone-3">
  <img src="assets/img/black_pion.png" alt="black-stone-img">
</div>
<div class="landing-stone black-stone-4">
  <img src="assets/img/black_pion.png" alt="black-stone-img">
</div>
<div class="landing-stone black-stone-5">
  <img src="assets/img/black_pion.png" alt="black-stone-img">
</div>

<!--White stones ------------------------------------------- -->
<div class="landing-stone white-stone-1">
  <img src="assets/img/white_pion.png" alt="black-stone-img">
</div>
<div class="landing-stone white-stone-2">
  <img src="assets/img/white_pion.png" alt="black-stone-img">
</div>
<div class="landing-stone white-stone-3">
  <img src="assets/img/white_pion.png" alt="black-stone-img">
</div>
<div class="landing-stone white-stone-4">
  <img src="assets/img/white_pion.png" alt="black-stone-img">
</div>
