<div class="container-fluid">
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <app-header></app-header>
    </div>
    <div class="col-10 offset-1">
      <p class="text-center">
        Gomoku, also called 5 in a row, is an abstract strategy game.
        <br>
        <br> Traditionally, it is played by putting black and white stones on a Go board using 15x15 or 19x19 intersections.
        Players take turns and place a stone of their color on an empty intersection. The goal is to form an unbroken chain
        of 5 stones (and no more) vertically, horizontally or diagonally.
      </p>
    </div>
    <div class="col-6 offset-3 text-center">
      <div class="toggle">
        <input type="checkbox" routerLink="/connexion">
        <span class="button"></span>
        <span class="label">Give it a try !</span>
      </div>
    </div>
  </div>
</div>
<!--Black stones ------------------------------------------- -->
<div class="stone-container">
  <div class="landing-stone black-stone-1">
    <img src="assets/img/black_pion.png" alt="black-stone-img">
  </div>
  <div class="landing-stone black-stone-2">
    <img src="assets/img/black_pion.png" alt="black-stone-img">
  </div>
  <div class="landing-stone black-stone-3">
    <img src="assets/img/black_pion.png" alt="black-stone-img">
  </div>
  <div class="landing-stone black-stone-4">
    <img src="assets/img/black_pion.png" alt="black-stone-img">
  </div>
  <div class="landing-stone black-stone-5">
    <img src="assets/img/black_pion.png" alt="black-stone-img">
  </div>

  <!--White stones ------------------------------------------- -->
  <div class="landing-stone white-stone-1">
    <img src="assets/img/white_pion.png" alt="black-stone-img">
  </div>
  <div class="landing-stone white-stone-2">
    <img src="assets/img/white_pion.png" alt="black-stone-img">
  </div>
  <div class="landing-stone white-stone-3">
    <img src="assets/img/white_pion.png" alt="black-stone-img">
  </div>

  <div class="landing-stone white-stone-4">
    <img src="assets/img/white_pion.png" alt="black-stone-img">
  </div>
</div>