@media screen and (width:768px) {
  .container-fluid {
    height: 510px;
  }
  .btn-try {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    padding: 15px 20px;
    display: inline-block;
    margin: 20px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    background: #4e8fcb;
    color: #fff;
    box-shadow: 0 6px #3c70ab;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 40px;
  }
  .btn-try:hover {
    box-shadow: 0 4px #3c70ab;
    top: 2px;
  }
  .btn-try:active {
    box-shadow: 0 0 #3c70ab;
    top: 6px;
  }
  /*--------------STONE PLACEMENT ----------------------------------------------------*/
  /*----------------------------------------------------------------------------------*/
  .landing-stone {
    position: absolute;
    z-index: 50;
  }
  img {
    display: block;
    width: 60px;
    height: auto;
  }
  /*Balck-stone--------------------*/
  .black-stone-1 {
    margin-top: 10px;
    margin-left: -20px;
    animation-name: black-stone-1-animation;
    animation-duration: 3s;
  }
  .black-stone-2 {
    margin-top: -70px;
    margin-left: 30px;
    animation-name: black-stone-2-animation;
    animation-duration: 3s;
  }
  .black-stone-3 {
    margin-top: -60px;
    margin-left: 210px;
    animation-name: black-stone-3-animation;
    animation-duration: 3s;
  }
  .black-stone-4 {
    margin-top: -420px;
    margin-left: 700px;
    animation-name: black-stone-4-animation;
    animation-duration: 3s;
  }
  .black-stone-5 {
    margin-top: -520px;
    margin-left: 730px;
    animation-name: black-stone-5-animation;
    animation-duration: 3s;
  }
  /*White stone---------------------*/
  .white-stone-1 {
    margin-top: -5px;
    margin-left: 90px;
    animation-name: white-stone-1-animation;
    animation-duration: 3s;
  }
  .white-stone-2 {
    margin-top: -90px;
    margin-left: 130px;
    animation-name: white-stone-2-animation;
    animation-duration: 3s;
  }
  .white-stone-3 {
    margin-top: -400px;
    margin-left: 600px;
    animation-name: white-stone-3-animation;
    animation-duration: 3s;
  }
  .white-stone-4 {
    margin-top: -500px;
    margin-left: 630px;
    animation-name: white-stone-4-animation;
    animation-duration: 3s;
  }
  @keyframes black-stone-1-animation {
    0% {
      opacity: 0;
    }
    9.9% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
  }
  @keyframes white-stone-1-animation {
    0% {
      opacity: 0;
    }
    19.9% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
  }
  @keyframes black-stone-2-animation {
    0% {
      opacity: 0;
    }
    29.9% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
  }
  @keyframes white-stone-2-animation {
    0% {
      opacity: 0;
    }
    39.9% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
  }
  @keyframes black-stone-3-animation {
    0% {
      opacity: 0;
    }
    49.9% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes white-stone-3-animation {
    0% {
      opacity: 0;
    }
    59.9% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
  }
  @keyframes black-stone-4-animation {
    0% {
      opacity: 0;
    }
    69.9% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
  }
  @keyframes white-stone-4-animation {
    0% {
      opacity: 0;
    }
    79.9% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
  }
  @keyframes black-stone-5-animation {
    0% {
      opacity: 0;
    }
    89.9% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
  }
}

@media screen and (width:1024px) {
  .container-fluid {
    height: 510px;
  }
  .btn-try {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    padding: 15px 20px;
    display: inline-block;
    margin: 20px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    background: #4e8fcb;
    color: #fff;
    box-shadow: 0 6px #3c70ab;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 40px;
  }
  .btn-try:hover {
    box-shadow: 0 4px #3c70ab;
    top: 2px;
  }
  .btn-try:active {
    box-shadow: 0 0 #3c70ab;
    top: 6px;
  }
  /*--------------STONE PLACEMENT ----------------------------------------------------*/
  /*----------------------------------------------------------------------------------*/
  .landing-stone {
    position: absolute;
    z-index: 50;
  }
  img {
    display: block;
    width: 60px;
    height: auto;
  }
  /*Balck-stone--------------------*/
  .black-stone-1 {
    margin-top: 50px;
    margin-left: -20px;
    animation-name: black-stone-1-animation;
    animation-duration: 3s;
  }
  .black-stone-2 {
    margin-top: -70px;
    margin-left: 30px;
    animation-name: black-stone-2-animation;
    animation-duration: 3s;
  }
  .black-stone-3 {
    margin-top: -20px;
    margin-left: 250px;
    animation-name: black-stone-3-animation;
    animation-duration: 3s;
  }
  .black-stone-4 {
    margin-top: -420px;
    margin-left: 900px;
    animation-name: black-stone-4-animation;
    animation-duration: 3s;
  }
  .black-stone-5 {
    margin-top: -520px;
    margin-left: 950px;
    animation-name: black-stone-5-animation;
    animation-duration: 3s;
  }
  /*White stone---------------------*/
  .white-stone-1 {
    margin-top: 25px;
    margin-left: 130px;
    animation-name: white-stone-1-animation;
    animation-duration: 3s;
  }
  .white-stone-2 {
    margin-top: -120px;
    margin-left: 160px;
    animation-name: white-stone-2-animation;
    animation-duration: 3s;
  }
  .white-stone-3 {
    margin-top: -400px;
    margin-left: 750px;
    animation-name: white-stone-3-animation;
    animation-duration: 3s;
  }
  .white-stone-4 {
    margin-top: -500px;
    margin-left: 800px;
    animation-name: white-stone-4-animation;
    animation-duration: 3s;
  }
  @keyframes black-stone-1-animation {
    0% {
      opacity: 0;
    }
    9.9% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
  }
  @keyframes white-stone-1-animation {
    0% {
      opacity: 0;
    }
    19.9% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
  }
  @keyframes black-stone-2-animation {
    0% {
      opacity: 0;
    }
    29.9% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
  }
  @keyframes white-stone-2-animation {
    0% {
      opacity: 0;
    }
    39.9% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
  }
  @keyframes black-stone-3-animation {
    0% {
      opacity: 0;
    }
    49.9% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes white-stone-3-animation {
    0% {
      opacity: 0;
    }
    59.9% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
  }
  @keyframes black-stone-4-animation {
    0% {
      opacity: 0;
    }
    69.9% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
  }
  @keyframes white-stone-4-animation {
    0% {
      opacity: 0;
    }
    79.9% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
  }
  @keyframes black-stone-5-animation {
    0% {
      opacity: 0;
    }
    89.9% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
  }
}
